@import "variable.styl"

body, html
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text

.clearfix:after
  display block
  content ''
  clear both
  height 0


.crumbs
  margin-bottom 40px

.warn
  color #F90
